@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PDMS QuranFont';
  src: local('PDMS QuranFont'), url(./fonts/_PDMS_Saleem_QuranFont.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arabic-font{
  font-family: "PDMS QuranFont" !important;
}

.line-height-100{
  line-height: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide-tap-color{
  -webkit-tap-highlight-color: transparent;
}